<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>
<div id="misbotones">
    <button class="botones1" id="ingreso"><i class="fa fa-sign-in"></i> Ingreso</button>
    <button class="botones2" id="registro"><i class="fa fa-user-plus"></i> Registro</button>
    <button class="botones3" id="dashboard"><i class="fa fa-dashboard"></i> Inicio</button>
</div>

<!-- End Preloader -->
<div id="secciones">
    <header>

        <!-- Bootstrap Menu -->
        <div id="navigation">
            <div class="navbar-wrapper abanicos1">
                <nav class="navbar-inverse navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#"></a>
                            </div>
                            <div id="mynav" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav main-nav-list">
                                    <li><a href="#home">Inicio</a></li>
                                    <li><a href="#about">Conócenos</a></li>
                                    <li><a href="#team">¿Quienes somos?</a></li>
                                    <li><a href="#works">Beneficios </a></li>
                                    <li><a href="#pricing">Aportación</a></li>
                                    <li><a href="#news">Avisos</a></li>
                                    <li><a href="#contacts">Contáctanos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- End Bootstrap Menu -->

        <!-- Slider -->
        <section id="home">
            <div class="slide-wrap">
                <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <!-- Change Image -->
                            <div class="caption">
                                <h1 class="animated fadeInLeftBig" style="font-size: 2em;">Bienvenido a<br>
                                    <strong style="font-size: 2.4em;"> AMERT, A.C.</strong>
                                </h1>
                                <p class="animated fadeInRightBig">Asociación Mexicana de Empresarios de Redes y
                                    Transportes.</p>
                                <a data-scroll class="learn-more animated fadeInUpBig" href="#about">Arranca</a>
                            </div>
                        </div>
                        <div class="item">
                            <!-- Change Image -->
                            <div class="caption">
                                <h1 class="animated fadeInLeftBig" style="font-size: 2em;"><strong
                                        style="font-size: 2.3em;">Gremio<br>
                                    </strong> de conductores y socios</h1>
                                <p class="animated fadeInRightBig">Unidos somos fuertes.</p>
                                <a data-scroll class="learn-more animated fadeInUpBig" href="#about">Arranca</a>
                            </div>
                        </div>
                        <div class="item">
                            <!-- Change Image -->
                            <div class="caption">
                                <h1 class="animated fadeInLeftBig" style="font-size: 2em;">Estamos para<br><strong
                                        style="font-size: 2.3em;">servir</strong></h1>
                                <p class="animated fadeInRightBig">Siempre buscamos beneficiar a nuestros agremiados.
                                </p>
                                <a data-scroll class="learn-more animated fadeInUpBig" href="#about">Arranca</a>
                            </div>
                        </div>
                    </div>
                    <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                    <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </section>
        <!-- End Slider -->

    </header>