/*=============================================
INFOPRODUCTO5
=============================================*/

.infoproducto figure.visor img{
	display:none;
	cursor:crosshair;

}

.infoproducto figure.visor img:first-child{
	display:block;
}

.flexslider{
	cursor: pointer;
}

.lupa{
	display:none;
	position:absolute;
	top:0;
	left:0;
	margin:0px;
	padding: 0px;
	overflow:hidden;
}

.lupa img{
	position:relative;
	margin-top:0px; 
	margin-left:0px !important;
	width:100%;
	height: 100%;
}

.compartirRedes{
	border:0px;
	box-shadow:none;
	margin:0px;
}

.compartirRedes li p{
	color:white;
	text-align: center;
	line-height: 30px;
	padding:8px;
	font-size:18px;
	margin-top:10px;
	margin-bottom:20px;
	cursor:pointer;

}

.btnFacebook{
	background:#46639f;
}

.btnGoogle{
	background:#d6513e;
}

.alturaComentarios{
	height:300px;
}


/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){

	.videoPresentacion{

		height:415px;
	}

}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){
	
	.videoPresentacion{

		height:350px;
	}


}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){
	
	.videoPresentacion{

		height:350px;
	}



}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){

	.videoPresentacion{

		height:200px;
	}

	.fondoBreadcrumb{
		font-size:12px;
	}

	.botonesCompra button{
		margin:5px 0;
	}

}

	

.outer-div
{
  border-radius: 50%;
  height: 30px;
  margin:4px;
  width: 30px !important;
  overflow: hidden;
  border: 1px solid white; 
}
.inner-div
{
  height: 30px;
  width: 30px !important;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  background-image: url('http://www.tipue.com/img/yes.jpg');
}
.inner-div
{
  transform: scale(5.2);
}