<app-header></app-header>
<!-- About Xlight -->
		<section class="section-wrapper" id="about">
			<div class="about-us">
				<div class="why-us  abanicos">
					<div class="container">
						<div class="row">
							<!-- Block Title -->
							<div class="section-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">
								<h1><span>Conócenos</span></h1>
							</div>
							<div class="element-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
								<h1>¿Por qué agremiarte?</h1>
								<h3>Somos una <span class="main-color">Asociación de Conductores</span> que conocemos las necesidades de
									los que nos dedicamos a proporcionar servicio de <span class="main-color">transporte mediante
										plataformas.</span></h3>
							</div>
							<!-- End Block Title -->
							<!-- About Us Icons -->
							<div class="wrapper-why-us">
								<div class="col-lg-4 col-sm-4 wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
									<i class="hovicon effect-1 sub-a"><b class="fas fa-flag-checkered"></b></i>
									<h2>MISIÓN</h2>
									<p>Ser la asociación que brinde beneficios, ayudando a los conductores a generar oportunidades
										logrando mejorar su calidad
										de vida y trabajo, para llegar a obtener estabilidad económica en su entorno familiar y social.</p>
								</div>
								<div class="col-lg-4 col-sm-4 wow fadeInDown" data-wow-duration="1s" data-wow-delay="450ms">
									<i class="hovicon effect-1 sub-a"><b class="far fa-eye"></b></i>
									<h2>VISIÓN</h2>
									<p>Ser la asociación cuya identidad sea capaz de actuar en nombre del conductor en la lucha por su
										dignificación ante leyes
										y sociedad.
										Reconocida por el impacto del actuar en el bienestar y desarrollo de nuestra comunidad.</p>
								</div>
								<div class="col-lg-4 col-sm-4 wow fadeInDown" data-wow-duration="1s" data-wow-delay="600ms">
									<i class="hovicon effect-1 sub-a"><b class="far fa-handshake"></b></i>
									<h2>VALORES</h2>
									<p><span style="font-weight: 900;">Seguridad: </span><br><span>Trabajar con protocolos buscando la
											integridad del conductor.</span></p>
									<p><span style="font-weight: 900;">Integridad: </span><br><span>Trabajar con rectitud para el bien
											común.</span></p>
									<p><span style="font-weight: 900;">Solidaridad: </span><br><span>Unión y colaboración entre asociación
											y conductor.</span></p>
									<p><span style="font-weight: 900;">Profesionalismo: </span><br><span>Capacitación constante para
											ofrecer un servicio de calidad.</span></p>
									<p><span style="font-weight: 900;">Trabajo en equipo: </span><br><span>Integrar a todo el gremio para
											resolver las carencias y necesidades.</span></p>

								</div>
							</div>
							<!-- End About Us Icons -->
						</div>
					</div>
				</div>
			</div>
			<!-- End About Xlight -->


			<!-- Facts -->
			<div class="facts parallax">
				<div class="overlay">
					<div class="wrapper-block-facts">
						<div class="container">
							<div class="row">
								<div class="element-title">
									<h1 class="main-color wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Agunos datos
										interesantes</h1>
									<h3 class="white-color wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">que demuestran
										nuestra fuerza en números.</h3>
								</div>
							</div>
							<div class="row">
								<div class="wrapper-number">
									<div class="col-lg-3 col-md-3">
										<div class="number wow fadeInRight" data-wow-duration="1s" data-wow-delay="300ms">
											<p class="timer" data-from="0" data-to="20" data-speed="1000">20</p>
										</div>
										<div class="number-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
											ADMINISTRADORES
										</div>
									</div>
									<div class="col-lg-3 col-md-3">
										<div class="number wow fadeInRight" data-wow-duration="1s" data-wow-delay="450ms">
											<p class="timer" data-from="0" data-to="800" data-speed="5000">800</p>
										</div>
										<div class="number-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="450ms">
											AGREMIADOS
										</div>
									</div>
									<div class="col-lg-3 col-md-3">
										<div class="number wow fadeInRight" data-wow-duration="1s" data-wow-delay="600ms">
											<p class="timer" data-from="0" data-to="700" data-speed="4300">700</p>
										</div>
										<div class="number-title wow fadeInDown" data-wow-duration="13s" data-wow-delay="600ms">
											CONDUCTORES
										</div>
									</div>
									<div class="col-lg-3 col-md-3">
										<div class="number wow fadeInRight" data-wow-duration="1s" data-wow-delay="750ms">
											<p class="timer" data-from="0" data-to="100" data-speed="2000">100</p>
										</div>
										<div class="number-title wow fadeInDown" data-wow-duration="13s" data-wow-delay="750ms">
											SOCIOS
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Facts -->

		</section>
		<!-- End About Section -->

		<!-- Team Section -->
		<section class="section-wrapper" id="team">
			<div class="team">
				<!-- Block Title -->
				<div class="meet-the-team abanicos">
					<div class="element-title">
						<div class="row">
							<div class="container">
								<div class="section-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
									<h1><span>ESTAMOS PARA APOYARTE</span></h1>
								</div>
								<h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Nuestro grupo de administradores
								</h1>
								<!-- <h3 class=" wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">This Is Our <span class="main-color">Team</span>, This Is Our <span class="main-color">Family</span></h3> -->
							</div>
						</div>
					</div>
					<!-- End Block Title -->
					<div class="row">
						<div class="container">
							<div class="wrapper-team">
								<div class="col-lg-3 col-md-3">
									<div class="team-member">
										<div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="300ms">
											<div class="team-member-image">
												<img src="assets/images/team/presidenta.svg" alt="" /> <!-- Change Image -->
												<div class="team-overlay">
													<div class="img-overlay"></div>
												</div>
												<div class="overlay-content">
													<div class="team-member-social-list">
														<!-- <a class="team-member-social-list-item" href="#"><i class="fa fa-facebook"></i></a>
												<a class="team-member-social-list-item" href="#"><i class="fa fa-twitter"></i></a> -->
														<a class="team-member-social-list-item" href="mailto:presidencia@amertac.com.mx"><i
																class="fa fa-envelope"></i></a>
													</div>
													<!-- <a class="view-profile profile-read-more" href="#" data-single_url="profile1.html">Profile</a>										 -->
												</div>
											</div>
											<div class="team-member-meta">
												<h4 class="team-member-name"><span class="main-color">V</span>eronica</h4>
												<div class="team-member-role">Presidenta</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3">
									<div class="team-member">
										<div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="500ms">
											<div class="team-member-image">
												<img src="assets/images/team/tesoreria.svg" alt="" /> <!-- Change Image -->
												<div class="team-overlay">
													<div class="img-overlay"></div>
												</div>
												<div class="overlay-content">
													<div class="team-member-social-list">
														<!-- <a class="team-member-social-list-item" href="#"><i class="fa fa-facebook"></i></a>
												<a class="team-member-social-list-item" href="#"><i class="fa fa-twitter"></i></a> -->
														<a class="team-member-social-list-item" href="mailto:tesoreria@amertac.com.mx"><i
																class="fa fa-envelope"></i></a>
													</div>
													<!-- <a class="view-profile profile-read-more" href="#" data-single_url="profile2.html">Profile</a>										 -->
												</div>
											</div>
											<div class="team-member-meta">
												<h4 class="team-member-name"><span class="main-color">C</span>arlos</h4>
												<div class="team-member-role">Tesorero</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3">
									<div class="team-member">
										<div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="800ms">
											<div class="team-member-image">
												<img src="assets/images/team/tecnologia.svg" alt="" /> <!-- Change Image -->
												<div class="team-overlay">
													<div class="img-overlay"></div>
												</div>
												<div class="overlay-content">
													<div class="team-member-social-list">
														<!-- <a class="team-member-social-list-item" href="#"><i class="fa fa-facebook"></i></a>
												<a class="team-member-social-list-item" href="#"><i class="fa fa-twitter"></i></a> -->
														<a class="team-member-social-list-item" href="mailto:tecnologia@amertac.com.mx"><i
																class="fa fa-envelope"></i></a>
													</div>
													<!-- <a class="view-profile profile-read-more" href="#" data-single_url="profile3.html">Profile</a>											 -->
												</div>
											</div>
											<div class="team-member-meta">
												<h4 class="team-member-name"><span class="main-color">A</span>ntonio</h4>
												<div class="team-member-role">Tecnología</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3">
									<div class="team-member">
										<div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="1100ms">
											<div class="team-member-image">
												<img src="assets/images/team/administracion.svg" alt="" /> <!-- Change Image -->
												<div class="team-overlay">
													<div class="img-overlay"></div>
												</div>
												<div class="overlay-content">
													<div class="team-member-social-list">
														<!-- <a class="team-member-social-list-item" href="#"><i class="fa fa-facebook"></i></a>
												<a class="team-member-social-list-item" href="#"><i class="fa fa-twitter"></i></a> -->
														<a class="team-member-social-list-item" href="mailto:administracion@amertac.com.mx"><i
																class="fa fa-envelope"></i></a>
													</div>
													<!-- <a class="view-profile profile-read-more" href="#" data-single_url="profile4.html">Profile</a>										 -->
												</div>
											</div>
											<div class="team-member-meta">
												<h4 class="team-member-name"><span class="main-color">N</span>orma</h4>
												<div class="team-member-role">Administración</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Profile Team -->
				<div id="team-single-wrap">
					<div id="team-single">
					</div>
				</div>
				<!-- End Profile Team -->
			</div>

			<!-- Skills -->
			<div class="skills parallax">
				<div class="overlay">
					<div class="wrapper-block-skills">
						<!-- Block Title -->
						<div class="element-title">
							<div class="row">
								<div class="container">
									<h1 class="main-color wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">Beneficios
										entregados a agremiados</h1>
									<h3 class="white-color wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Algunos de los
										beneficios que han recibido nuestros agremiados.</h3>
								</div>
							</div>
						</div>
						<!-- End Block Title -->
						<div class="row">
							<div class="container">
								<div class="wrapper-count">
									<div class="col-lg-3 col-md-3">
										<!-- SKILL ONE -->
										<div class="skill wow fadeInRight" data-wow-duration="1s" data-wow-delay="300ms">
											<input type="text" class="knob" value="86">
											<h4>Angel Guardián</h4>
										</div>
									</div>
									<div class="col-lg-3 col-md-3">
										<!-- SKILL TWO -->
										<div class="skill wow fadeInRight" data-wow-duration="1s" data-wow-delay="500ms">
											<input type="text" class="knob" value="93">
											<h4>Despensas</h4>
										</div>
									</div>
									<div class="col-lg-3 col-md-3">
										<!-- SKILL THREE -->
										<div class="skill wow fadeInRight" data-wow-duration="1s" data-wow-delay="800ms">
											<input type="text" class="knob" value="88">
											<h4>Descuentos</h4>
										</div>
									</div>
									<div class="col-lg-3 col-md-3">
										<!-- SKILL Four -->
										<div class="skill wow fadeInRight" data-wow-duration="1s" data-wow-delay="1100ms">
											<input type="text" class="knob" value="95">
											<h4>Premios</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Skills -->

		</section>
		<!-- End Team Section -->


		<!-- Works Section -->
		<section class="section-wrapper" id="works">
			<div class="works  abanicos">
				<!-- Block Title -->
				<div class="element-title">
					<div class="row">
						<div class="container">
							<div class="section-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
								<h1><span>NUESTROS BENEFICIOS</span></h1>
							</div>
							<!-- <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Nuestros beneficios</h1> -->
							<h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Estos son algunos de nuestros <span
									class="main-color">beneficios </span>para nuestros <span class="main-color">agremiados</span></h3>
						</div>
					</div>
				</div>
				<!-- End Block Title -->
				<div class="row">
					<div class="container-fluid">
						<div class="wrapper-works">
							<div class="portfoliO">
								<ul id="filters" class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="300ms">
									<li><span class="filter active" data-filter="all">TODOS</span></li>
									<li><span class="filter" data-filter=".category-1">Ángel Guardián</span></li>
									<li><span class="filter" data-filter=".category-2">Descuentos</span></li>
									<li><span class="filter" data-filter=".category-3">Prestaciones</span></li>
								</ul>
								<div class="portfolio-wrap">
									<div class="myport wow fadeInDown" data-wow-duration="1s" data-wow-delay="600ms">
										<div class="mix category-1 portfolio" data-myorder="1">
											<div class="img-holder">
												<a class="folio-read-more" href="#" data-single_url="portfolio-single-image.html"
													title="This is the description">
													<img class="" src="assets/images/works/angelguardian.svg" alt="Ángel Guardián"> <!-- Change Image -->
													<div class="works-overlay">
														<div class="img-overlay"></div>
													</div>
													<div class="overlay-content">
														<div class="works-overlay-category">ÁNGEL GUARDIÁN</div>
														<div class="works-overlay-text">Sistema auxiliar discreto para seguridad del conductor.
														</div>
														<!-- <i class="works-overlay-icon"><i class="fa fa-image"></i></div>										 -->
													</div>
												</a>
											</div>
										</div>
										<div class="mix category-2 portfolio" data-cat="category-2" data-myorder="2">
											<div class="img-holder">
												<a class="folio-read-more" href="#" data-single_url="portfolio-single-image.html"
													title="Taller de Toyota">
													<img class="" src="assets/images/works/toyota.jpg" alt="Descuentos en la agencia">
													<!-- Change Image -->
													<div class="works-overlay">
														<div class="img-overlay"></div>
													</div>
													<div class="overlay-content">
														<div class="works-overlay-category">TOYOTA</div>
														<div class="works-overlay-text">Descuento del 25% a los agremiados a AMERT, A.C.</div>
														<!-- <div class="works-overlay-icon"><i class="fa fa-video-camera"></i></div>										 -->
													</div>
												</a>
											</div>
										</div>
										<div class="mix category-3 portfolio" data-cat="category-3" data-myorder="3">
											<div class="img-holder">
												<a class="folio-read-more" href="#" data-single_url="portfolio-single-image.html" title="IMSS">
													<img class="" src="assets/images/works/imss.png" alt="IMSS"> <!-- Change Image -->
													<div class="works-overlay">
														<div class="img-overlay"></div>
													</div>
													<div class="overlay-content">
														<div class="works-overlay-category">IMSS</div>
														<div class="works-overlay-text">Seguro para nuestros agremiados</div>
														<!-- <div class="works-overlay-icon"><i class="fa fa-graduation-cap"></i></div> -->
													</div>
												</a>
											</div>
										</div>

										<div class="mix category-1 portfolio" data-cat="category-1" data-myorder="4">
											<div class="img-holder">
												<a class="folio-read-more" href="#" data-single_url="portfolio-slider.html"
													title="Alguien cuidándote">
													<img class="" src="assets/images/works/zapopanpolice.jpg" alt="Policía ZMG"> <!-- Change Image -->
													<div class="works-overlay">
														<div class="img-overlay"></div>
													</div>
													<div class="overlay-content">
														<div class="works-overlay-category">ÁNGEL GUARDIÁN</div>
														<div class="works-overlay-text">Contigo cuando más lo necesitas</div>
														<!-- <div class="works-overlay-icon"><i class="fa fa-image"></i></div> -->
													</div>
												</a>
											</div>
										</div>

										<div class="mix category-2 portfolio" data-cat="category-2" data-myorder="5">
											<div class="img-holder">
												<a class="folio-read-more" href="#" data-single_url="san-javier.html"
													title="San Javier Recinto Funeral">
													<img class="" src="assets/images/partners/logo-san-javier.png" alt="San Javier Recinto Funeral">
													<!-- Change Image -->
													<div class="works-overlay">
														<div class="img-overlay"></div>
													</div>
													<div class="overlay-content">
														<div class="works-overlay-category">San Javier - Recinto Funeral</div>
														<div class="works-overlay-text">Precio exclusivo de $21,000 a $18,000. Haz click para ver
															más información.</div>
														<!-- <div class="works-overlay-icon"><i class="fa fa-video-camera"></i></div> -->
													</div>
												</a>
											</div>
										</div>
										<div class="mix category-3 portfolio" data-cat="category-3" data-myorder="6">
											<div class="img-holder">
												<a class="folio-read-more" href="#" data-single_url="portfolio-slider.html" title="INFONAVIT">
													<img class="" src="assets/images/works/infonavit.jpg" alt="Infonavite"> <!-- Change Image -->
													<div class="works-overlay">
														<div class="img-overlay"></div>
													</div>
													<div class="overlay-content">
														<div class="works-overlay-category">INFONAVIT</div>
														<div class="works-overlay-text">INFONAVIT para agremiados</div>
														<!-- <div class="works-overlay-icon"><i class="fa fa-graduation-cap"></i></div> -->
													</div>
												</a>
											</div>
										</div>
										<div class="mix category-1 portfolio" data-cat="category-1" data-myorder="7">
											<div class="img-holder">
												<a class="folio-read-more" href="#" data-single_url="portfolio-video-youtube.html"
													title="ÁNGEL GUARDIÁN">
													<img class="" src="assets/images/works/satellite.jpg" alt="Cuidándote desde el cielo">
													<!-- Change Image -->
													<div class="works-overlay">
														<div class="img-overlay"></div>
													</div>
													<div class="overlay-content">
														<div class="works-overlay-category">ÁNGEL GUARDIÁN</div>
														<div class="works-overlay-text">Cuidándote desde el cielo</div>
														<!-- <div class="works-overlay-icon"><i class="fa fa-image"></i></div> -->
													</div>
												</a>
											</div>
										</div>
										<div class="mix category-2 portfolio" data-cat="category-2" data-myorder="8">
											<div class="img-holder">
												<a class="folio-read-more" href="#" data-single_url="portfolio-video-youtube.html"
													title="LLANTERA">
													<img class="" src="assets/images/works/llantas.jpg" alt="Descuentos en llantas">
													<!-- Change Image -->
													<div class="works-overlay">
														<div class="img-overlay"></div>
													</div>
													<div class="overlay-content">
														<div class="works-overlay-category">LLANTERA</div>
														<div class="works-overlay-text">Descuentos en llantas</div>
														<!-- <div class="works-overlay-icon"><i class="fa fa-video-camera"></i></div> -->
													</div>
												</a>
											</div>
										</div>
										<div class="mix category-3 portfolio" data-cat="category-3" data-myorder="9">
											<div class="img-holder">
												<a class="folio-read-more" href="#" data-single_url="portfolio-video-youtube.html"
													title="ASESORIA LEGAL">
													<img class="" src="assets/images/works/legal.jpg" alt="Asesoría Legal"> <!-- Change Image -->
													<div class="works-overlay">
														<div class="img-overlay"></div>
													</div>
													<div class="overlay-content">
														<div class="works-overlay-category">ASESORIA LEGAL</div>
														<div class="works-overlay-text">Asistencia legal para nuestros agremiados</div>
														<!-- <div class="works-overlay-icon"><i class="fa fa-graduation-cap"></i></div> -->
													</div>
												</a>
											</div>
										</div>
										<div class="mix category-1 portfolio" data-cat="category-1" data-myorder="10">
											<div class="img-holder">
												<a class="folio-read-more" href="#" data-single_url="portfolio-video-vimeo.html"
													title="ÁNGEL GUARDIÁN">
													<img class="" src="assets/images/works/zapopanpolice2.jpg" alt="Cuidando de tí">
													<!-- Change Image -->
													<div class="works-overlay">
														<div class="img-overlay"></div>
													</div>
													<div class="overlay-content">
														<div class="works-overlay-category">ÁNGEL GUARDIÁN</div>
														<div class="works-overlay-text">Cuidando de ti.</div>
														<!-- <div class="works-overlay-icon"><i class="fa fa-image"></i></div> -->
													</div>
												</a>
											</div>
										</div>
										<div class="mix category-2 portfolio" data-cat="category-2" data-myorder="11">
											<div class="img-holder">
												<a class="folio-read-more" href="#" data-single_url="portfolio-video-vimeo.html"
													title="RESTAURANTE">
													<img class="" src="assets/images/works/restaurante.jpg" alt="Descuentos en restaurantes">
													<!-- Change Image -->
													<div class="works-overlay">
														<div class="img-overlay"></div>
													</div>
													<div class="overlay-content">
														<div class="works-overlay-category">RESTAURANTES</div>
														<div class="works-overlay-text">Descuentos en restaurantes</div>
														<!-- <div class="works-overlay-icon"><i class="fa fa-video-camera"></i></div> -->
													</div>
												</a>
											</div>
										</div>
										<div class="mix category-3 portfolio" data-cat="category-3" data-myorder="12">
											<div class="img-holder">
												<a class="folio-read-more" href="#" data-single_url="portfolio-video-vimeo.html"
													title="EVENTOS">
													<img class="" src="assets/images/works/posada.ashx" alt="Eventos"> <!-- Change Image -->
													<div class="works-overlay">
														<div class="img-overlay"></div>
													</div>
													<div class="overlay-content">
														<div class="works-overlay-category">EVENTOS</div>
														<div class="works-overlay-text">Eventos para fomentar la convivencia</div>
														<!-- <div class="works-overlay-icon"><i class="fa fa-graduation-cap"></i></div> -->
													</div>
												</a>
											</div>
										</div>
										<div class="gap"></div>
										<div class="gap"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Single Project -->
				<div id="works-single-wrap">
					<div id="works-single">
					</div>
				</div>
				<!-- End Single Project -->
			</div>

			<!-- Partners -->
			<div class="partners parallax">
				<div class="overlay">
					<div class="wrapper-block-partners">
						<!-- Block Title -->
						<div class="element-title">
							<div class="row">
								<div class="container">
									<h1 class="main-color wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">NUESTROS
										PATROCINADORES</h1>
									<h3 class="white-color wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Gracias al apoyo de
										estas empresas, seguimos creciendo.</h3>
								</div>
							</div>
						</div>
						<!-- End Block Title -->
						<div class="row">
							<div class="container">
								<div class="wrapper-partners">
									<div class="col-lg-3 col-md-3 partners-img wow fadeInRight" data-wow-duration="1s"
										data-wow-delay="300ms">
										<a href="http://optiexpress.com.mx/" target="_blank"><img src="assets/images/partners/logo-optiexpress.png"
												alt="OPTI Express"></a>
										<!-- Change Image -->
									</div>
									<div class="col-lg-3 col-md-3 partners-img wow fadeInRight" data-wow-duration="1s"
										data-wow-delay="500ms">
										<a href="http://optiexpress.com.mx/" target="_blank"><img src="assets/images/partners/grupo-san-javier.png"
												alt="Grupo de servicios San Javier"></a>
										<!-- Change Image -->
									</div>
									<div class="col-lg-3 col-md-3 partners-img wow fadeInRight" data-wow-duration="1s"
										data-wow-delay="700ms">
										<a href="#"><img src="assets/images/partners/partners3.png" alt=""></a> <!-- Change Image -->
									</div>
									<div class="col-lg-3 col-md-3 partners-img wow fadeInRight" data-wow-duration="1s"
										data-wow-delay="900ms">
										<a href="#"><img src="assets/images/partners/partners4.png" alt=""></a> <!-- Change Image -->
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="container">
								<div class="wrapper-partners">
									<div class="col-lg-3 col-md-3 partners-img wow fadeInRight" data-wow-duration="1s"
										data-wow-delay="1100ms">
										<a href="#"><img src="assets/images/partners/partners5.png" alt=""></a> <!-- Change Image -->
									</div>
									<div class="col-lg-3 col-md-3 partners-img wow fadeInRight" data-wow-duration="1s"
										data-wow-delay="1300ms">
										<a href="#"><img src="assets/images/partners/partners6.png" alt=""></a> <!-- Change Image -->
									</div>
									<div class="col-lg-3 col-md-3 partners-img wow fadeInRight" data-wow-duration="1s"
										data-wow-delay="1500ms">
										<a href="#"><img src="assets/images/partners/partners7.png" alt=""></a> <!-- Change Image -->
									</div>
									<div class="col-lg-3 col-md-3 partners-img wow fadeInRight" data-wow-duration="1s"
										data-wow-delay="1700ms">
										<a href="#"><img src="assets/images/partners/partners8.png" alt=""></a> <!-- Change Image -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Partners -->

		</section>
		<!-- End Works Section -->

		<!-- Price Section -->
		<section class="section-wrapper" id="pricing">
			<div class="pricing abanicos">
				<!-- Block Title -->
				<div class="element-title">
					<div class="row">
						<div class="container">
							<div class="section-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
								<h1><span>Aportaciones</span></h1>
							</div>
							<!-- <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Con la aportación económica de nuestros agremiados podemos invertir en mejorar nuestra oferta de beneficios.</h1> -->
							<h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Con la aportación económica de
								<span class="main-color">nuestros agremiados</span> podemos invertir en mejorar nuestra oferta de <span
									class="main-color">beneficios</span>.</h3>
						</div>
					</div>
				</div>
				<!-- End Block Title -->
				<div class="row">
					<div class="container">
						<div class="wrapper-pricing">
							<!-- Plan 1 -->
							<div class="col-lg-3 col-md-3">
								<!-- <div class="single-table wow fadeInRight" data-wow-duration="1s" data-wow-delay="300ms">
									<h4>Agremiado</h4>
									<div class="price-icon">
										<img src="assets/images/socioconductor.svg" alt="Agremiado" style="width: 65px;">
									</div>
									<span class="price">$300/<small>mes.</small></span>
									<ul>
										<li>Precio en Pesos Mexicanos</li>
										<li>Precio antes de I.V.A.</li>
									</ul>
									<a class="btn-price" href="#">Regístrate</a>
								</div> -->
							</div>
							<!-- Plan 2 -->
							<div class="col-lg-3 col-md-3">
								<div class="single-table wow fadeInRight" data-wow-duration="1s" data-wow-delay="300ms">
									<h4>Agremiado</h4>
									<div class="price-icon">
										<img src="assets/images/socioconductor.svg" alt="Agremiado" style="width: 65px;">
									</div>
									<span class="price">$300/<small>mes.</small></span>
									<ul>
										<li>Aportación por agremiado con un vehículo.</li>
										<li>Precio en Pesos Mexicanos.</li>
										<li>Precio antes de I.V.A.</li>
									</ul>
									<!-- <a class="btn-price" href="#">Regístrate</a> -->
								</div>
								<!-- <div class="single-table wow fadeInRight" data-wow-duration="1s" data-wow-delay="500ms">
									<h4>Socio-Conductor</h4>
									<div class="price-icon">
										<img src="assets/images/carro.svg" alt="" style="width: 65px;">
									</div>
									<span class="price">$300/<small>mes</small></span>
									<ul>
										<li>Beneficios</li>
										<li>Ángel Guardián</li>
										<li>Asesoría Legal</li>
										<li>Apoyo a los más necesitados</li>
										<li>Apoyo en caso de emergencia</li>
									</ul>
									<a class="btn-price" href="#">Regístrate</a>
								</div> -->
							</div>
							<!-- Plan 3 -->
							<!-- <div class="col-lg-3 col-md-3 wow fadeInRight" data-wow-duration="1s" data-wow-delay="700ms">
						<div class="single-table featured"> -->
							<!-- <div class="col-lg-3 col-md-3">
								<div class="single-table wow fadeInRight" data-wow-duration="1s" data-wow-delay="500ms">
									<h4>Socio</h4>
									<div class="price-icon">
										<img src="assets/images/socioconductor.svg" alt="" style="width: 65px;">
									</div>
									<span class="price">$150/<small>mes</small></span>
									<ul>
										<li>&nbsp;</li>
										<li>Beneficios</li>
										<li>Asesoría Legal</li>
										<li>Apoyo a los más necesitados</li>
										<li>Apoyo en caso de emergencia</li>
									</ul>
									<a class="btn-price" href="#">Regístrate</a>
								</div>
							</div> -->
							<!-- Plan 4 -->
							<div class="col-lg-3 col-md-3">
								<div class="single-table wow fadeInRight" data-wow-duration="1s" data-wow-delay="900ms">
									<h4>Vehículo extra</h4>
									<div class="price-icon">
										<img src="assets/images/otrocarro.svg" alt="" style="width: 65px;">
									</div>
									<span class="price">$150/<small>mes</small></span>
									<ul>
										<li>Precio en Pesos Mexicanos.</li>
										<li>Precio antes de I.V.A.</li>
									</ul>
									<!-- <a class="btn-price" href="#">Regístrate</a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="clients parallax">
				<!-- Block Title -->
				<div class="overlay">
					<div class="wrapper-block-clients">
						<div class="element-title">
							<div class="row">
								<div class="container">
									<h1 class="main-color wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">CONDUCTORES OPINAN
									</h1>
									<h3 class="white-color wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Algunas
										experiencias en AMERT, A.C. de nuestros agremiados.</h3>
								</div>
							</div>
						</div>
						<!-- End Block Title -->
						<div class="row">
							<div class="container">
								<div class="wrapper-clients wow fadeInDown" data-wow-duration="1s" data-wow-delay="500ms">
									<!-- Start Testimonial Slider -->
									<div class="carousel slide carousel-mod" data-ride="carousel" id="testimonial">
										<div class="carousel-inner">
											<!-- Testimonial #1  -->
											<div class="item active">
												<div class="row">
													<div class="col-lg-12 col-sm-12">
														<div class="testimonial-inner">
															<img class="img-circle" src="assets/images/clients/person_1.jpg" alt="" title="" />
															<!-- Testimonial Image  -->
															<p><i class="fas fa-quote-left main-color"></i> Gracias a AMERT, A.C., ahora ya no me
																siento sola. <i class="fas fa-quote-right main-color"></i></p><!-- Tesimonial  -->
														</div>
														<h5>-- Lupita Reyes, Socia-Conductora --</h5>
													</div>
												</div>
											</div>
											<!-- End Testimonial #1  -->
											<!-- Testimonial #2  -->
											<div class="item">
												<div class="row">
													<div class="col-lg-12 col-sm-12">
														<div class="testimonial-inner">
															<img class="img-circle" src="assets/images/clients/person_2.jpg" alt="" title="" />
															<p><i class="fas fa-quote-left main-color"></i> La aportación no la veo como un gasto, es
																una inversión en mi seguridad y el saber que hay personas que me apoyan en cualquier
																situación. <i class="fas fa-quote-right main-color"></i></p>
														</div>
														<h5>-- Juan Pérez, Conductor --</h5>
													</div>
												</div>
											</div>
											<!-- End Testimonial #2  -->
											<!-- Testimonial #3  -->
											<div class="item">
												<div class="row">
													<div class="col-lg-12 col-sm-12">
														<div class="testimonial-inner">
															<img class="img-circle" src="assets/images/clients/person_3.jpg" alt="" title="" />
															<p><i class="fas fa-quote-left main-color"></i> Antes temía por mi seguridad, ahora,
																siento que me cuidan y apoyan mis compañeros, me siento parte de una comunidad amigable
																y segura. <i class="fas fa-quote-right main-color"></i></p>
														</div>
														<h5>-- María Domínguez, Conductora --</h5>
													</div>
												</div>
											</div>
											<!-- End Testimonial #3  -->
										</div>
										<ol class="carousel-indicators">
											<li data-target="#testimonial" data-slide-to="0" class="active"></li>
											<li data-target="#testimonial" data-slide-to="1"></li>
											<li data-target="#testimonial" data-slide-to="2"></li>
										</ol>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
		<!-- End Price Section -->


		<!-- News Section -->
		<section class="section-wrapper" id="news">
			<div class="news  abanicos">
				<!-- Block Title -->
				<div class="element-title">
					<div class="row">
						<div class="container">
							<div class="section-title wow fadeInDown">
								<h1><span>Noticias y Avisos</span></h1>
							</div>
							<h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Lo que está pasando en nuestro
								gremio.</h1>
							<h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Infórmate de las últimas <span
									class="main-color">Noticias </span>y <span class="main-color">Eventos.</span></h3>
						</div>
					</div>
				</div>
				<!-- End Block Title -->
				<div class="container">
					<div class="wrapper-news">
						<div class="row">
							<div class="col-lg-6 col-sm-6">
								<div class="news-content wow fadeInLeft" data-wow-duration="1s" data-wow-delay="300ms">
									<div class="entry-header">
										<div class="blog-image">
											<a href="blog.html"><img alt="" src="assets/images/blog/post1.jpg" class="img-responsive"></a>
										</div>
										<div class="post-date">
											<h2>21<span>Ago</span></h2>
										</div>
									</div>
									<div class="entry-content">
										<h3 class="entry-title">
											<a href="blog.html">Adipisicing elit, sed do eiusmod tempor</a>
										</h3>
										<ul class="entry-meta">
											<li><a href="#"><i class="fa fa-user"></i> By: Admin</a></li>
											<!-- <li><a href="#"><i class="fa fa-tags"></i> Projects <span>/</span></a></li>
								<li><a href="#"><i class="fa fa-comments"></i> 3 Comments</a></li> -->
										</ul>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
											labore et dolore magna aliqua. </p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-sm-6">
								<div class="news-content wow fadeInRight" data-wow-duration="1s" data-wow-delay="300ms">
									<div class="entry-header">
										<div class="blog-image">
											<a href="blog.html"><img alt="" src="assets/images/blog/post2.jpg" class="img-responsive"></a>
										</div>
										<div class="post-date">
											<h2>26<span>Sep</span></h2>
										</div>
									</div>
									<div class="entry-content">
										<h3 class="entry-title">
											<a href="blog.html">Adipisicing elit, sed do eiusmod tempor</a>
										</h3>
										<ul class="entry-meta">
											<li><a href="#"><i class="fa fa-user"></i> By: Admin</a></li>
											<!-- <li><a href="#"><i class="fa fa-tags"></i> Projects <span>/</span></a></li>
								<li><a href="#"><i class="fa fa-comments"></i> 5 Comments</a></li> -->
										</ul>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
											labore et dolore magna aliqua. </p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-sm-6">
								<div class="news-content wow fadeInLeft" data-wow-duration="1s" data-wow-delay="600ms">
									<div class="entry-header">
										<div class="blog-image">
											<a href="blog.html"><img alt="" src="assets/images/blog/post3.jpg" class="img-responsive"></a>
										</div>
										<div class="post-date">
											<h2>28<span>Oct</span></h2>
										</div>
									</div>
									<div class="entry-content">
										<h3 class="entry-title">
											<a href="blog.html">Adipisicing elit, sed do eiusmod tempor</a>
										</h3>
										<ul class="entry-meta">
											<li><a href="#"><i class="fa fa-user"></i> By: Admin</a></li>
											<!-- <li><a href="#"><i class="fa fa-tags"></i> Projects <span>/</span></a></li>
								<li><a href="#"><i class="fa fa-comments"></i> 3 Comments</a></li> -->
										</ul>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
											labore et dolore magna aliqua. </p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-sm-6">
								<div class="news-content wow fadeInRight" data-wow-duration="1s" data-wow-delay="600ms">
									<div class="entry-header">
										<div class="blog-image">
											<a href="blog.html"><img alt="" src="assets/images/blog/post4.jpg" class="img-responsive"></a>
										</div>
										<div class="post-date">
											<h2>30<span>July</span></h2>
										</div>
									</div>
									<div class="entry-content">
										<h3 class="entry-title">
											<a href="blog.html">Adipisicing elit, sed do eiusmod tempor</a>
										</h3>
										<ul class="entry-meta">
											<li><a href="#"><i class="fa fa-user"></i> By: Admin <span>/</span></a></li>
											<li><a href="#"><i class="fa fa-tags"></i> Projects <span>/</span></a></li>
											<li><a href="#"><i class="fa fa-comments"></i> 5 Comments</a></li>
										</ul>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
											labore et dolore magna aliqua. </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="stay-in parallax">
				<!-- Block Title -->
				<div class="overlay">
					<div class="wrapper-block-stay-in">
						<div class="element-title">
							<div class="row">
								<div class="container">
									<h1 class="main-color wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">¿QUIERES RECIBIR
										NUESTRO BOLETÍN?</h1>
									<h3 class="white-color wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Compártenos tu
										dirección de correo para recibirlo.</h3>

								</div>
							</div>
						</div>
						<!-- End Block Title -->
						<div class="signup">
							<div class="row">
								<div class="container">
									<div class="sign_form wow fadeInLeft" data-wow-duration="1s" data-wow-delay="300ms">
										<!-- SUBSCRIPTION FORM -->
										<form id="sign-form" method="post" action="#">
											<input type="email" name="email" placeholder="Tu e-mail por favor..."
												class="form-control input-box">
											<input type="submit" value="Sign Up">
											<div id="signup-error"></div>
											<p>Prometemos no enviarte spam =)</p>
										</form>
										<!-- / END SUBSCRIPTION FORM -->
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="container">
								<div class="wrapper-tweet">
									<!-- Twitter -->
									<div class="tweet wow fadeInRight" data-wow-duration="1s" data-wow-delay="700ms">
										<div class="col-sm-8 col-sm-offset-2">
											<!-- <div class="twitter-icon text-center">
												<i class="fas fa-info-circle"></i>
												<h4>Andsolutions</h4>
											</div> -->
											<div id="twitter-carousel" class="carousel slide" data-ride="carousel">
												<ol class="carousel-indicators">
													<li data-target="#twitter-carousel" data-slide-to="0" class="active"></li>
													<li data-target="#twitter-carousel" data-slide-to="1"></li>
													<li data-target="#twitter-carousel" data-slide-to="2"></li>
												</ol><!-- /.carousel-indicators -->

												<div class="carousel-inner">
													<div class="item active">
														<p><span class="main-color">AMERT, A.C.</span> es un gremio humano para apoyar a nuestros
															hermanos conductores de plataforma.</p>
													</div>
													<div class="item">
														<p><span class="main-color">Ángel Guardián</span> es un sistema auxiliar discreto para
															seguridad del conductor.</p>
													</div>
													<div class="item">
														<p>Con <span class="main-color">AMERT, A.C.</span> inviertes en tí, porque lo vales.</p>
													</div>
												</div>
											</div>
										</div>
										<!-- End Twitter -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

		<!-- </section> -->
		<!-- End News Section -->
</div>
</section>

		<!-- Contact Section -->
		<section class="section-wrapper" id="contacts">
			<!-- Contacts -->
			<div class="contacts abanicos">

				<!-- Block Title -->
				<div class="element-title">
					<div class="row">
						<div class="container">
							<div class="section-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
								<h1><span>Contáctanos</span></h1>
							</div>
							<h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Contacta a nuestro <span
									class="main-color">staff </span> para cualquier <span class="main-color">duda, comentario o
									sugerencia</span> que tengas.</h3>
						</div>
					</div>
				</div>
				<!-- End Block Title -->

				<div class="container">
					<div class="row">
						<div class="wrapper-contacts">
							<div class="contact_form">
								<div class="row">
									<div class="wrapper-contacts-icons">
										<div class="col-xs-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="300ms">
											<i class="fa fa-map-marker"></i>
											<div class="">Calle y número</div>
											<div class="">90210 Guadalajara, Jalisco.</div>
										</div>
										<div class="col-xs-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="450ms">
											<i class="fa fa-mobile-phone"></i>
											<div class="">Lun - Vie 08:00 21:00</div>
											<div class="">234 523 45 56</div>
										</div>
										<div class="col-xs-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="600ms">
											<i class="fa fa-envelope-o"></i>
											<div class="">Nuestro e-mail de contacto</div>
											<div class="">contacto@amertac.com.mx</div>
										</div>

									</div>
								</div>
								<div class="row wow fadeInRight" data-wow-duration="1s" data-wow-delay="800ms">
									<!-- Start contact-form -->
									<form id="contact-form" method="post" action="#">
										<div class="col-lg-6 col-sm-6">
											<div class="form-group">
												<input type="text" name="name" class="form-control" placeholder="Tu nombre">
											</div>
											<div class="form-group">
												<input type="email" name="email" class="form-control" placeholder="Tu correo electrónico">
											</div>
											<div class="form-group">
												<input type="text" name="subject" class="form-control" placeholder="Asunto">
											</div>
										</div>
										<div class="col-lg-6 col-sm-6">
											<div class="form-group">
												<textarea name="message" class="form-control" placeholder="Tu mensaje" rows="8"></textarea>
											</div>
											<div id="output"></div>
											<input type="submit" class="" value="Enviar">
										</div>
									</form>
									<!-- End contact-form -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Contacts -->
		</section>