	<div class="bottom-footer">
	  <div class="container">
	    <div class="bottom-footer-center wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
	      <ul class="bottom-social-icons">
	        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
	        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
	        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
	      </ul>
	    </div>
	    <div class="bottom-footer-left wow fadeInUp" data-wow-duration="1s" data-wow-delay="450ms">
	      <p><span>Todos los derechos reservados por &#169; </span> <a href="https://duckalive.com">Duckalive S.A. de
	          C.V.</a></p>
	      <p><span>Página licenciada para su uso a &#169; </span> <a href="https://amertac.com.mx">AMERT, A.C.</a></p>
	    </div>
	  </div>
	</div>